
body {
  background-color: rgb(140, 130, 184);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: rgb(38, 33, 56);
}

#score, #highScore {
  color: rgb(28, 22, 43);
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: red;
  z-index: 1;
}